In [63]:
import pandas as pd
import numpy as np

In [64]:
actual_eps = pd.read_csv('eps_nifty50.csv')
eps_pred = pd.read_csv('linear_reg_predicted_eps.csv')
std_dev = pd.read_csv('std_dev_eps_predicted.csv')

In [65]:
actual_eps.drop(index=list(range(48, 997)),inplace=True)
actual_eps.drop('Company',inplace=True,axis=1)

In [66]:
Ticker_list = eps_pred['Unnamed: 0']

In [67]:
eps_pred.rename(columns={'Unnamed: 0':'Ticker'},inplace=True)
std_dev.rename(columns={'Unnamed: 0':'Ticker'},inplace=True)

In [68]:
print(actual_eps.shape)
print(eps_pred.shape)
print(std_dev.shape)

(48, 47)
(48, 31)
(48, 31)

In [69]:
to_be_removed = actual_eps.columns.tolist()[31:]
actual_eps.drop(to_be_removed,axis=1,inplace=True)

In [70]:
print(actual_eps.shape)
print(eps_pred.shape)
print(std_dev.shape)

(48, 31)
(48, 31)
(48, 31)

In [71]:
actual_eps.drop('Ticker',inplace=True,axis=1)
eps_pred.drop('Ticker',inplace=True,axis=1)
std_dev.drop('Ticker',inplace=True,axis=1)

In [72]:
unexpected_earning = actual_eps-eps_pred
std_dev.head()

,Sep-19,Jun-19,Mar-19,Dec-18,Sep-18,Jun-18,Mar-18,Dec-17,Sep-17,Jun-17,...,Sep-14,Jun-14,Mar-14,Dec-13,Sep-13,Jun-13,Mar-13,Dec-12,Sep-12,Jun-12
0,0.843912,0.813154,0.829238,0.783936,0.799275,0.736384,0.752046,0.766590,0.843276,0.828293,...,0.582879,0.996257,0.992660,1.037358,1.070753,1.168898,1.241626,1.245972,1.256932,1.258351
1,0.795831,0.654673,0.726591,0.602868,0.656725,0.650553,0.716736,0.665653,0.649393,0.686841,...,10.447347,10.121374,9.559077,8.925334,8.332093,7.277249,6.302595,5.979928,6.203511,6.152351
2,4.063047,4.180560,4.332002,4.389737,4.398193,4.389511,2.629636,2.498117,2.203287,6.044612,...,9.390214,8.669445,7.892892,6.957805,5.772858,5.906019,5.382909,5.136845,5.393676,5.585542
3,4.065167,4.048413,4.592517,4.586512,5.305127,5.300851,5.226839,5.203590,4.835800,4.945701,...,5.721256,5.969031,6.354415,6.706897,7.242860,7.325680,8.212186,8.604357,8.864816,9.111806
4,4.551762,11.258134,13.725752,16.316944,17.155423,18.015696,18.287300,18.519574,18.331078,17.934443,...,7.594116,8.048595,9.453946,9.949855,10.638328,11.035840,11.085694,10.655684,10.703876,10.211525

In [73]:
sue = unexpected_earning.truediv(std_dev)

In [74]:
sue['Ticker']=Ticker_list

In [75]:
sue.set_index('Ticker',inplace=True)

In [76]:
sue.reset_index(inplace=True)

In [77]:
sue.head()

,Ticker,Sep-19,Jun-19,Mar-19,Dec-18,Sep-18,Jun-18,Mar-18,Dec-17,Sep-17,...,Sep-14,Jun-14,Mar-14,Dec-13,Sep-13,Jun-13,Mar-13,Dec-12,Sep-12,Jun-12
0,ADSEZ IS Equity,-1.805876,-1.579960,-0.244502,1.152198,-0.058803,-1.669305,0.734662,0.028699,1.325781,...,2.570858,0.465241,0.433431,0.451387,0.165304,0.853795,-0.273432,-0.661732,-0.738902,-0.821710
1,APNT IS Equity,5.485777,4.264726,1.765437,4.781313,2.356772,3.580033,2.886696,3.762472,3.080570,...,-2.497644,-2.584802,-2.599937,-2.571977,-2.748109,-2.796111,-2.512457,-1.466656,2.062340,3.110112
2,AXSB IS Equity,-1.743888,-0.615348,-0.795764,-0.892707,-1.747763,-1.877829,-6.888120,-2.506388,-2.998134,...,-2.380217,-2.200112,-1.935634,-1.749977,-1.436204,2.914950,4.018970,3.783256,3.063125,3.369235
3,BJAUT IS Equity,4.143741,1.860606,3.450178,2.036951,2.531042,2.437816,2.329324,1.420174,2.531122,...,-1.421454,-0.138213,0.371002,1.368368,1.285404,0.952471,1.411317,1.824076,1.684468,1.760902
4,BAF IS Equity,4.479310,0.367290,-0.367594,-0.984789,-1.347927,-1.654890,-1.869959,-2.040449,-2.157074,...,2.902313,3.429418,2.774926,3.180323,2.773204,3.101621,3.271604,3.698730,3.202391,3.683020

In [78]:
sue.to_csv(r'sue.csv')

In [79]:
cutoffs = {}
for date in sue.columns.tolist()[2:]:
    cutoff_list = []
    cutoff_list.append(np.percentile(sue[date],10))    
    cutoff_list.append(np.percentile(sue[date],15))
    cutoff_list.append(np.percentile(sue[date],20))
    cutoff_list.append(np.percentile(sue[date],25))
    cutoff_list.append(np.percentile(sue[date],30))
    cutoff_list.append(np.percentile(sue[date],40))
    cutoff_list.append(np.percentile(sue[date],50))
    cutoff_list.append(np.percentile(sue[date],60))
    cutoff_list.append(np.percentile(sue[date],70))
    cutoff_list.append(np.percentile(sue[date],75))
    cutoff_list.append(np.percentile(sue[date],80))
    cutoff_list.append(np.percentile(sue[date],85))
    cutoff_list.append(np.percentile(sue[date],90))
    cutoffs[date] = cutoff_list
column_list = [10,15,20,25,30,40,50,60,70,75,80,85,90]
cutoff = pd.DataFrame.from_dict(cutoffs, orient='index',columns=column_list)
#cutoff
cutoff.to_csv(r'sue_cutoffs.csv')